- if user_signed_in? 
  - if @item.like_user(current_user.id) # ログイン中のユーザーがいいねしているかしていないかを判断
    = link_to item_likes_path(@item.id), method: :delete, class: "like red", remote: true do
      %i.fas.fa-heart
      いいね！
      = @item.likes.count
  - else
    = link_to item_likes_path(@item.id), method: :post, class: "like", remote: true do
      %i.fas.fa-heart
      いいね！
      = @item.likes.count
- else
  = link_to new_user_session_path, class: "like", remote: false do
    %i.fas.fa-heart
    いいね！
    = @item.likes.count
