%header.top-header
  = render "items/index-header"


.information
  %ul
    %li
      = link_to "#", itemprop: "url", class: "information-url" do
        %span{itemprop: "title", class: "no1-place-name"} フリマ
      %i.icon-right
        %i.fa.fa-chevron-right
    %li
      = link_to "#", itemprop: "url", class: "No2-link" do
        %span{itemprop: "title", class: "now-place-name"} マイページ

.mypage-main
  .m-content
    .mypage-user
      = link_to "#", class: "user-face-action" do
        %figure
          =image_tag asset_path('pict/member_photo_noimage_thumb.png'), class: "face-icon-opacy"
        %h2.user-name あああああ
        .mypage-number
          %div
            評価
            %span.bold ０
          %div
            出品数
            %span.bold ０
    .mypage-tab
      %ul.mypage-tabs
        %li.active
          %h3
            %a
              お知らせ
        %li
          %h3
            %a
              やることリスト
      .tab-content
        %ul.notification
          %li
            %a
              %figure
              .tab-body
                .tab-text ああああああああ
                %time
                  %i.icon-right
                    %i.fa.fa-time
                  %span 14時間前
              %i.icon-right
                %i.fa.fa-chevron-right
          %li
            %a
              %figure
              .tab-body
                .tab-text ああああああああ
                %time
                  %i.icon-right
                    %i.fa.fa-time
                  %span 14時間前
              %i.icon-right
                %i.fa.fa-chevron-right
          %li
            %a
              %figure
              .tab-body
                .tab-text ああああああああ
                %time
                  %i.icon-right
                    %i.fa.fa-time
                  %span 14時間前
              %i.icon-right
                %i.fa.fa-chevron-right
          %li
            %a
              %figure
              .tab-body
                .tab-text ああああああああ
                %time
                  %i.icon-right
                    %i.fa.fa-time
                  %span 14時間前
              %i.icon-right
                %i.fa.fa-chevron-right
          %li
            %a
              %figure
              .tab-body
                .tab-text ああああああああ
                %time
                  %i.icon-right
                    %i.fa.fa-time
                  %span 14時間前
              %i.icon-right
                %i.fa.fa-chevron-right
          %li.tab-list
            %a 一覧をみる
    .mypage-tab-container
      %h2.tab-head 購入した商品
      %ul.mypage-tabs
        %li.active
          %h3
            %a
              取引中
        %li
          %h3
            %a
              過去の取引
      .tab-content
        %ul.transaction-now
          %li.transaction-result 取引中の商品がありません。
  .m-side
    .m-nav
      %ul.m-nav-list
        %li.li-first
          = link_to "#", class: "m-nav-list-item-active" do
            マイページ
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            お知らせ
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            やることリスト
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            いいね！一覧
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            出品する
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            出品した商品-出品中
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            出品した商品-取引中
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            出品した商品-売却済み
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            購入した商品-取引中
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            購入した商品-過去の取引
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            ニュース一覧
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            評価一覧
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            ガイド
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            お問い合わせ
            %i.icon-right
              %i.fa.fa-chevron-right
      %h3.m-nav-head フリマペイ
      %ul.m-nav-list
        %li.li-first
          = link_to "#", class: "m-nav-list-item" do
            売り上げ・振込申請
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            ポイント
            %i.icon-right
              %i.fa.fa-chevron-right
      %h3.m-nav-head 設定
      %ul.m-nav-list
        %li.li-first
          = link_to "#", class: "m-nav-list-item" do
            プロフィール
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            発送元・お届け先住所変更
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            支払い方法
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            メール/パスワード
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            本人情報
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to "#", class: "m-nav-list-item" do
            電話番号の確認
            %i.icon-right
              %i.fa.fa-chevron-right
        %li
          = link_to destroy_user_session_path, method: :delete, class: "m-nav-list-item" do
            ログアウト
            %i.icon-right
              %i.fa.fa-chevron-right


%aside.banner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード!
    .inner__icon
      = link_to '#' , class: "No2-link" do
        .aBtn
          = image_tag '/assets/pict/app.svg', class: "app"
      = link_to '#' , class: "No2-link" do
        .gBtn
          = image_tag '/assets/pict/google-play-badge.png', class: "google"


%footer.footer
  = render "items/index-footer"

= link_to new_item_path do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    = image_tag asset_path('icon/icon_camera.png'), class: "purchaseBtn__icon"