.exhibit-wrapper
  .header
    .header__img
      = link_to root_path do
        = image_tag asset_path('logo/logo.png'), alt: "Footer-icon", id: "pic1", class: "header-image"
  .main
    .main__box
      = form_with model: @item, local: true do |form|
        .main__box__image
          .main__box__image__text
            .main__box__image__text__sentence
              出品画像
              %span
                必須
          .main__box__image__description
            最大10枚までアップロードできます
          #image-box-1
            .item-num-0#image-box__container
              .main__box__image__form__in
                .main__box__image__form__in__box
                  = form.fields_for :images do |image|
                    -# .input_area
                    = image.file_field :image, type: 'file', name: "item[images_attributes][][image]", value:"", style: "display:none", id:"img-file"
                    
                  .main__box__image__form__in__box__text
                    .main__box__image__form__in__box__text__icon
                      %label{for: "img-file"}
                        %i.fas.fa-camera
                    .main__box__image__form__in__box__text__sentence
                      ドラッグアンドドロップ<br>またはクリックしてまたはクリックしてファイルをアップロード


        .main__box__NameAndDescripution
          .main__box__NameAndDescripution__itemname
          
            .main__box__NameAndDescripution__itemname__sentence
              商品名
              %span
                必須
            .main__box__NameAndDescripution__itemname__form
              .main__box__NameAndDescripution__itemname__form__box
                -# %input.itemnameform{:placeholder => "40文字まで"}/
                = form.text_field :name, {placeholder:  '40文字まで',class: 'itemnameform'}
          .main__box__NameAndDescripution__itemDescription
            .main__box__NameAndDescripution__itemDescription__sentence
              商品の説明
              %span
                必須
            .main__box__NameAndDescripution__itemDescription__form
              .main__box__NameAndDescripution__itemDescription__form__box
                -# #textCount 0 
                -# %span.remaining-counter 文字入力しました。
                #textLest 1000
                %span.remaining-counter 文字入力できます。
                -# #textAttention 入力文字数が多すぎます。
                =form.text_area :description, {id: "textArea", cols:"40", rows:"15", placeholder: "商品の説明 (必須 1,000字以内)\n (色、素材、、素材、重さ、、素材、重さ、定価、注意点など)\n\n例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"}      

        .main__box__detail
          .main__box__detail__text
            商品の詳細
          .main__box__detail__category
            .main__box__detail__category__text
              カテゴリー
              %span
                必須
            .main__box__detail__category__form
              .main__box__detail__category__form__box
                = form.select :category, options_for_select(@category_parent_array.map{|c|[c[:name], c[:name], {'data-category'=>c[:id], 'id'=>c[:id]}]}, @item.category.parent.parent.id), {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category_edit', name:"",value: @parent} # @category_parent_arrayには、parent.nameが入っている。
                = form.select :category, options_for_select(@category_child_array.map{|c|[c[:name], c[:name], {'data-category'=>c[:id], 'id'=>c[:id]}]}, @item.category.parent.id), {}, {class: 'select', id: 'child_category_edit'}
                = form.select :category, options_for_select(@category_grandchildren2.map{|c|[c[:name], c[:name], {'data-category'=>c[:id], 'id'=>c[:id]}]}, @item.category.id), {}, {class: 'select', id: 'grandchild_category_edit'}


                -# = @category_grandchildren2.name
                // @category_parent_arrayの内容を選択肢に表示

          .main__box__detail__bland
            .main__box__detail__bland__text
              ブランド
              %span
                任意
            .main__box__detail__bland__form
              .main__box__detail__bland__form__box
                %input.blandform{:placeholder => "例) シャネル"}
                
          .main__box__detail__status
            .main__box__detail__status__text
              = form.label '商品の状態', class: 'listing-default__label' 
              %span
                必須
            .main__box__detail__status__form
              .main__box__detail__status__form__box
                = form.select :condition, Item.conditions, {}, {class: 'itemnameform'}


        .main__box__delivery
          .main__box__delivery__text 配送について
          = link_to '#', class: 'listing-product-help' do
            ?
          .main__box__delivery__fee
            .main__box__delivery__fee__text
              = form.label '配送料の負担', class: 'listing-default__label' 
              %span 必須
              .main__box__delivery__fee__form
                .main__box__delivery__fee__form__box
                  = form.select :ship_charge, Item.ship_charges, {}, {class: 'itemnameform',id:"ship_charge"}
                  
          .listing-product-delivery-charge-burden
                
          .main__box__delivery__area
            .main__box__delivery__area__text 
              = form.label '発送先の地域', class: 'listing-default__label' 
              %span 必須
              .main__box__delivery__area__form
                .main__box__delivery__area__form__box
                  = form.select :ship_area, Item.ship_areas, {}, {class: 'itemnameform'}

          .main__box__delivery__day
            .main__box__delivery__day__text
              = form.label '発送までの日数', class: 'listing-default__label' 
              %span 必須
              .main__box__delivery__day__form
                .main__box__delivery__day__form__box
                  = form.select :ship_date, Item.ship_dates, {}, {class: 'itemnameform'}
                .main__box__delivery__day__form__alert
              
        .main__box__price
          .main__box__price__text
            価格 (¥300~9,999,999)
          .main__box__price__value
            .main__box__price__value__wrapper
              .main__box__price__value__wrapper__text
                販売価格
                %span
                  必須
              .main__box__price__value__wrapper__form
                .main__box__price__value__wrapper__form__mark
                  ¥
                .main__box__price__value__wrapper__form__input
                  .main__box__price__value__wrapper__form__input__box
                    = form.number_field :price, {placeholder: '0'}
                  .main__box__price__value__wrapper__form__input__error

            .main__box__price__value__commission
              .main__box__price__value__commission__text
                販売手数料　(10%)
              .main__box__price__value__commission__result
                = "---"
            .main__box__price__value__benefit
              .main__box__price__value__benefit__text
                販売利益
              .main__box__price__value__benefit__result
                = "---"

        .main__box__PriceAndButton
          .main__box__PriceAndButton__red
            =form.submit '出品する', class: 'redbutton'
          
          .main__box__PriceAndButton__gray
            %input#graybutton{type: "submit", value: "もどる"}
  
  %footer.bottom
    = render "items/footer"