%header.top-header
  = render "items/index-header"

%nav.steps
  %ul.step-contents
    %li.step-content
      = link_to @item.name, "#", class: "step-link"
    %li.step-content
      %i.fa.fa-angle-right
    %li.step-content
      = link_to @item.category.root.name, "#", class: "step-link" 
    %li.step-content
      %i.fa.fa-angle-right
    %li.step-content
      = link_to @item.category.parent.name, "#", class: "step-link" 
    %li.step-content
      %i.fa.fa-angle-right
    %li.step-content
      = link_to @item.category.name, "#", class: "step-link" 
    %li.step-content
      %i.fa.fa-angle-right
    %li.step-content
      %p.last-step
        = @item.name

.main
  .show-main
    .content-left-hide
    .content-right
      .top-content
        .itembox
          %h2.itembox__name
            = @item.name
          .itembox__body
            %ul.up
              %li.up-pic
                = image_tag @item.images.first.image.to_s
            %ul.low
              -if @item.images.second.present?
                %li.low-pic
                  = image_tag @item.images.second.image.to_s, class:"low-pic-image"
              -else
                %li.low-pic
                  = image_tag asset_path('default.jpg'), class:"low-pic-image"
              -if @item.images.third.present?
                %li.low-pic
                  = image_tag @item.images.third.image.to_s, class:"low-pic-image"
              -else
                %li.low-pic
                  = image_tag asset_path('default.jpg'), class:"low-pic-image"
              -if @item.images.fourth.present?
                %li.low-pic
                  = image_tag @item.images.fourth.image.to_s, class:"low-pic-image"
              -else
                %li.low-pic
                  = image_tag asset_path('default.jpg'), class:"low-pic-image"
          .itemBox__price
            %span.price
              = "¥#{@item.price}"
            .price-detail
              %span
                (税込)
              %span
                送料込み

            .item-detail
              = @item.name
            .item-table
              %table.teble-list
                %tbody.table-body
                  %tr
                    %th
                      出品者
                    %td
                      =@item.user.nickname
                  %tr
                    %th
                      カテゴリー
                    %td
                      = link_to @item.category.root.name, "#", class: "category" 
                      %br
                      = link_to @item.category.parent.name, "#", class: "category"  
                      %br
                      = link_to @item.category.name, "#", class: "category" 
                  -# -if @item.brand.present?
                  -#   %tr
                  -#     %th
                  -#       ブランド
                  -#     %td
                  -#       =@item.brand
                    
                  -# -if @item.condition;./;./;./;/.present?
                  -#   %tr
                  -#     %th
                  -#       商品のサイズ
                  -#     %td
                  -#       = @item.condition
                  %tr
                    %th
                      商品の状態
                    %td
                      未使用に近い
                  %tr
                    %th
                      配送料の負担
                    %td
                      = @item.ship_area
                  %tr
                    %th
                      発送元の地域
                    %td
                      = link_to @item.ship_area, "#", class: "category"

                  %tr
                    %th
                      発送日の目安
                    %td
                      = @item.ship_date

            .optional-area
              %ul.option-list
                %li.optional-btn-likebtn
                  %i.fa.fa-star
                    お気に入り 0
                    
              %ul.optional
                %li.optional-btn
                  = link_to "#", class: "flag" do
                    %i.fa.fa-flag
                      不適切な商品の通報
          - if user_signed_in? && current_user.id == @item.user_id  
            .edit_and_destroy        
              .item_edit
                = link_to edit_item_path, class: "item_edit_path" do
                  商品の編集
              %p or
              .item_destroy
                = link_to item_path, method: :delete, class: "item_destroy_path" do
                  この商品を削除する
          -else
            .item_confirm_path
              =link_to confirm_items_path, class: "confirm_link" do
                購入画面に進む


        .comment-box
          %p.notice-msg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .comment-contents
            - if current_user
              = form_with(model: [@item, @comment], local: true) do |form|
                = form.text_area :text, placeholder: "コメントする", rows: "2"
                = form.submit "コメントする", class: "comment-btn"
            - else
              %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

          .comments
            %h4 コメント一覧
            .comments-main
              - if @comments 
                - @comments.each do |comment|
                  .comment_all
                    = comment.user.nickname + ":"
                    = comment.text
        
      
      %ul.move-items
        %li.before-item
          = link_to "#", class: "before" do
            %i.fa.fa-angle-left
            %span
              前の商品

        %li.after-item
          = link_to "#", class: "after" do
            %i.fa.fa-angle-right
            %span
              後ろの商品

      .related-items
        = link_to "#", class: "more-search" do
          ベビー・キッズをもっと見る

%aside.banner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード!
    .inner__icon
      = link_to '#' do
        = image_tag asset_path('pict/app.svg'), class: "app"
      = link_to '#' do
        = image_tag asset_path('pict/google-play-badge.png'), class: "google"

%footer.footer
  = render "items/index-footer"
  

= link_to new_item_path do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    = image_tag asset_path('icon/icon_camera.png'), class: "purchaseBtn__icon"

