%header.top-header
  = render "items/index-header"

.card-show-body
  .card_information
    %label.credit_card 登録クレジットカード情報
    %ul.card-number-info
      %li 
        = "**** **** **** " + @default_card_information.last4
      %li 
        - exp_month = @default_card_information.exp_month.to_s
      %li 
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      %li 
        = exp_month + " / " + exp_year
    = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm", class:"card-form") do
      %input{ type: "hidden", name: "card_id", value: "" }
      %button 削除する
      .cardpage-button
        =link_to root_path, class: "cardpage-button-link" do
          戻る
    

%footer.footer
  = render "items/index-footer"